#spring:
#  datasource:
#    url: jdbc:mariadb://streetstallwebserver.cjxaagbjsitm.ap-northeast-2.rds.amazonaws.com:3306/street_stall_webserver?useUnicode=true&characterEncoding=utf-8
#    driver-class-name: org.mariadb.jdbc.Driver
#    username: tlarbfuf
#    password: rbfuf106203
#  jpa:
#    open-in-view: false
#    generate-ddl: true
#    show-sql: true
#    hibernate:
#      ddl-auto: update


 spring:
   datasource:
     url: jdbc:h2:tcp://localhost/~/streetstall
     username: street
     password:
     driver-class-name: org.h2.Driver
   jpa:
     hibernate:
       ddl-auto: create
     properties:
       hibernate:
         # show_sql: true
         format_sql: true
 logging.level:
   org.hibernate.SQL: debug
 # org.hibernate.type: trace
